@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: linear-gradient(-225deg, #7DE2FC 0%, #B9B6E5 100%);
    background-size: cover;
}

header {
    padding: 50px 15px 0px;

}

header h1 {
    font-size: 3rem;
    font-weight: 500;
    font-family: 'Special Elite', cursive;
    text-align: center;
    background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;

}

section {
    padding: 15px;
}

.searchbox {
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    font-size: 1.5rem;
    background: none;
    background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
    border-radius: 8px;
    transition: 0.4s ease-out;
}

.searchbox:focus {
    box-shadow: 0px 0px 8px 3px #2475B0;
}

.results {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
}

.results .result {
    width: 33.33%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    cursor:pointer;
    border-radius: 15px;
    padding: 15px;
}

.results .result img {
    display: block;
    width: 100%;
}

.results .result h3 {
    color: #192A56;
    background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    flex: 1 1 100%;
    transition: 0.5 ease-out;
    font-family: 'Righteous', cursive;
}

.results .result:hover h3 {
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    color: aliceblue;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
    overflow-y: scroll;
}


.popup .content {
    display: block;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 25px;
    color: #192A56;
}

.popup .content h2 {
    font-size: 28px;
    font-weight: 600;
    font-family: 'Righteous', cursive;
}

.popup .content h2 span {
    font-weight: 300;
    font-size: 20px;
}

.popup .content .rating {
    margin-bottom: 30px;
}

.popup .content .plot {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px 30px;
}

.popup .content .plot img {
    flex: 1 1 50%;
    max-width: 300px;
    padding: 0px 15px;
}

.popup .content .plot p {
    flex: 1 1 50%;
    padding: 15px;
    font-family: 'Dancing Script', cursive;
    font-size: 1.7rem;
}

.popup .content .close {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 700;
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    color: #223343;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.4s ease-out;
}

.popup .content .close:hover {
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

    .results .result {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .results {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}